<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2 mb-2" data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
style="background-color: #004a82; color: whitesmoke;"
data-backdrop="static" data-keyboard="false">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
    Add Material 
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #353535">
          <h5 class="modal-title" style="color: white"id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body px-5 py-5" style="background-color: #3a3a3a">
          <app-add-edit [mat]="mat" *ngIf="ActivateAddEditMatComp"></app-add-edit>
        </div>
      </div>
    </div>
  </div>


  <!-- Table that populates with data from sql server. Last column contains edit and delete buttons -->
<table class="table table-bordered table-dark table-striped" style='font-size:90%'>
    <thead>
        <tr>
            <th>#</th>          
            <th>
              <div class="d-flex flex-row">
                <input [(ngModel)]="MfrFilter" class="form-control mb-2" style="color:darkgray"
                (keyup)="FilterFn()" placeholder="Filter" />
              </div>
              Manufacturer</th>
            <th>
              <div class="d-flex flex-row">
                <input [(ngModel)]="TypeNameFilter" class="form-control mb-2" style="color:darkgray"
                (keyup)="FilterFn()" placeholder="Filter" />
              </div>
              Type Name</th>
            <th>
              <div class="d-flex flex-row">
                <input [(ngModel)]="TypeIdFilter" class="form-control mb-2" style="color:darkgray"
                (keyup)="FilterFn()" placeholder="Filter" />
              </div>
              Type Id</th>
            <th>
              <div class="d-flex flex-row">
                <input [(ngModel)]="StyleNameFilter" class="form-control mb-2" style="color:darkgray"
                (keyup)="FilterFn()" placeholder="Filter" />
              </div>
              Style Name</th>
            <th>
              <div class="d-flex flex-row">
                <input [(ngModel)]="StyleIdFilter" class="form-control mb-2" style="color:darkgray"
                (keyup)="FilterFn()" placeholder="Filter" />
              </div>
              Style Id</th>
            <th>
              <div class="d-flex flex-row">
                <input [(ngModel)]="ColorValueFilter" class="form-control mb-2" style="color:darkgray"
                (keyup)="FilterFn()" placeholder="Filter" />
              </div>
              Color Value</th>
            <th>
              <div class="d-flex flex-row">
                <input [(ngModel)]="ColorNameFilter" class="form-control mb-2" style="color:darkgray"
                (keyup)="FilterFn()" placeholder="Filter" />
              </div>
              Color Name</th>
            <th>
              <div class="d-flex flex-row">
                <input [(ngModel)]="SizeFilter" class="form-control mb-2" style="color:darkgray"
                (keyup)="FilterFn()" placeholder="Filter" />
              </div>
              Size</th>
            <th>Options</th>
        </tr>
    </thead>
    <!-- Loop over material object to iteratively display database contents-->
    <tbody>
        <tr *ngFor="let mat of MatList, let i = index">
            <td type="string">{{i + 1}}</td>
            <td type="string">{{mat.Mfr}}</td>
            <td type="string">{{mat.TypeName}}</td>
            <td type="string">{{mat.TypeId}}</td>
            <td type="string">{{mat.StyleName}}</td>
            <td type="string">{{mat.StyleId}}</td>
            <td type="string">{{mat.ColorValue}}</td>
            <td type="string">{{mat.ColorName}}</td>
            <td type="string">{{mat.Size}}</td>
            <td>
              <span style="display: inline;">
                <button type="button" class="btn btn-light mr-1 mb-1" data-toggle="modal" data-target="#exampleModal" style="color: whitesmoke; background-color: #004a82;"
                (click)="editClick(mat)"
                data-backdrop="static" data-keyboard="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                </button>
                <button type="button" class="btn btn-light mr-1" style="color: whitesmoke; background-color: #004a82;"
                (click)="deleteClick(mat)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                </button>
              </span>
            </td>
        </tr>
    </tbody>
</table>